body {
    background-image: url('../assets/background-a.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;

}

.cab {
    width: 90%;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cab-sect-a {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cab-sect-a--img {
    height: 10vh;
    width: auto;
    margin: auto 30px;
}

.cab-sect-a--h1 {
    font-family: 'EngrvrsOldEng', serif;
    font-size: 9vh;
}

.cab-sect-b {
    text-transform: uppercase;

}

.cab-sect-b--p {
    font-family: 'TimesNRMTPro', serif;
    font-size: 1.2em;
    font-weight: 700;
    font-style: normal;
    color: rgb(32, 32, 32);
    font-kerning: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    margin-top: 5px;
}

.cab-div-a,
.cab-div-b {
    width: 100%;
    height: 0.4vh;
    background-color: rgb(23, 23, 23);
}

.cab-div-c {
    width: 100%;
    height: 0.8vh;
    background-color: rgb(23, 23, 23);
}

.cab-sect-b--img {
    height: 24px;
    width: auto;
    margin: auto;
}

.cab-sect-b {
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 1%;
}

.cab-sect-c {
    height: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.principal {
    width: 90%;
    margin: 0 auto;
}

.prin-sect-a {
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.prin-sect-a-sect {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.prin-sect-a-sect--h2 {
    text-transform: uppercase;
    font-size: 10vh;
    font-weight: 700;
    font-style: normal;
    color: rgb(32, 32, 32);
    font-kerning: normal;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    font-family: "Playfair Display", serif;
}

.prin-sect-a-sect--h1 {
    font-weight: 400;
    font-style: normal;
    color: rgb(23, 23, 23);
    font-kerning: normal;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    font-family: 'EngrvrsOldEng', serif;
    font-size: 20vh;
}

.prin-sect-a-sect--h3 {
    text-transform: uppercase;
    font-size: 8vh;
    font-weight: 700;
    font-style: normal;
    color: rgb(32, 32, 32);
    font-kerning: normal;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    font-family: "Playfair Display", serif;
    width: 70%;
    margin: 0 auto;
    line-height: 0.92;
}

.prin-sect-a--div {
    width: 78%;
    height: 0.4vh;
    background-color: rgb(23, 23, 23);
    margin: 0 auto;
}

.prin-sect-a-sect-b {
    width: 87%;
    height: 16vh;
    background-color: rgb(23, 23, 23);
    margin: 0 auto;
    display: flex;
}

.prin-sect-a-sect--p {
    font-family: 'TimesNRMTPro', sans-serif;
    color: #F6F6F4;
    line-height: 0.9;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 26px;
    margin: auto;
    text-align: center;
    letter-spacing: 1px;
    margin: auto 40px;
}

.prin-sect-b--h3 {
    text-transform: uppercase;
    font-size: 3vh;
    font-weight: 700;
    font-style: normal;
    color: rgb(32, 32, 32);
    font-kerning: normal;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    font-family: "TimesNRMTPro", serif;
    margin: 0 auto;
    border-bottom: 0.4vh solid rgb(32, 32, 32);
    line-height: 0.92;
    padding: 15px 15px 8px 15px;
}

.prin-sect-b-sect {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: calc(8%/3);
    row-gap: 5vh;
    width: 98%;
    margin: 0 auto;
    margin-top: 12px;

}

.prin-sect-b--div-img {
    width: 100%;
    height: 14vw;
    margin: auto;
    border-bottom: 0.9vh solid rgb(32, 32, 32);
    border-radius: 0 0 6px 6px;
}

.prin-sect-b--divisor {
    height: 45vh;
    width: 0.4vh;
    background-color: rgb(23, 23, 23);
}

.prin-sect-b--div {
    width: 100%;
    font-family: "TimesNRMTProCond", serif;

}

.prin-sect-b--div:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.prin-sect-b--div-h4 {
    font-size: 3vh;
    font-weight: 700;
    font-style: normal;
    color: rgb(32, 32, 32);
    font-kerning: normal;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    margin: 5px;
}

.prin-sect-b--div-p {
    font-size: 2.5vh;
    font-weight: 400;
    font-style: normal;
    color: rgb(32, 32, 32);
    font-kerning: normal;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    margin: 5px;
    text-align: justify;
}

.prin-sect-b--div-h3 {
    font-size: 2.1vh;
    font-weight: 400;
    font-style: normal;
    color: rgb(32, 32, 32);
    font-kerning: normal;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    margin: 5px;
    text-align: start;
}

.prin-sect-b {
    min-height: 72vh;
}

.prin-sect-c {
    height: 60vh;
}

.prin-sect-c-sect--h2 {
    text-transform: uppercase;
    font-size: 7.4vh;
    font-weight: 700;
    font-style: normal;
    color: rgb(32, 32, 32);
    font-kerning: normal;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    font-family: "Playfair Display", serif;
    width: 90%;
    margin: 0 auto;
    line-height: 0.92;
    text-align: center;
}

.prin-sect-c-sect--h3 {
    font-size: 5vh;
    font-weight: 700;
    font-style: normal;
    color: rgb(32, 32, 32);
    font-kerning: normal;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    margin: 5px;
    width: 60%;
    margin: 0 auto;
    line-height: 0.92;
    text-align: center;
    font-family: "TimesNRMTProCond", serif;
    margin-top: 18px;
}

.prin-sect-c-sect--h4 {
    font-size: 3.8vh;
    font-weight: 400;
    font-style: normal;
    color: rgb(32, 32, 32);
    font-kerning: normal;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    margin: 5px;
    width: 90%;
    margin: 0 auto;
    line-height: 0.92;
    text-align: center;
    font-family: "TimesNRMTProCond", serif;
    margin-top: 8px;
    letter-spacing: 0.8;
}

.prin-sect-c-sect {
    margin: auto 0;
    height: 52vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prin-sect-c-sect--a {
    width: 35%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(32, 32, 32);
    text-decoration: none;
    border-radius: 16px;
    margin-top: 10px;
}

.prin-sect-c-sect--a-div {
    font-size: 3.5vh;
    font-weight: 400;
    font-style: normal;
    color: #F6F6F4;
    font-kerning: normal;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    line-height: 0.92;
    text-align: start;
    font-family: "TimesNRMTProCond", serif;
    margin-top: 12px;
    letter-spacing: 0.8;
    text-decoration: none;
}

.prin-sect-d {
    height: 30vh;

}

.prin-sect-d-sect--a {
    width: 35%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(32, 32, 32);
    text-decoration: none;
    border-radius: 16px;
    margin-top: 10px;
    margin: 5% auto;
}

.prin-sect-d-sect--a-div {
    font-size: 3.5vh;
    font-weight: 400;
    font-style: normal;
    color: #F6F6F4;
    font-kerning: normal;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    line-height: 0.92;
    text-align: center;
    font-family: "TimesNRMTProCond", serif;
    margin: 0 20%;
    letter-spacing: 0.8;
    text-decoration: none;
}

.foot {
    width: 100%;
    height: 10vh;
    background-color: rgb(23, 23, 23);
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot--p {
    font-family: 'TimesNRMTPro', serif;
    font-size: 2.5vh;
    font-weight: 700;
    font-style: normal;
    color: #F6F6F4;
    font-kerning: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
}

.modeLight {
    width: 0;
    height: 8vh;
    position: fixed;
    top: 5vh;
    background: rgb(23, 23, 23);
    padding: 4px;
    border-radius: 0 50% 50% 0;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: all 0.5s ease-in-out;
}

.modeLight:hover {
    width: 7vh;
}

.modeLight img {
    width: 100%;
    height: auto;
    margin: auto;
}